* {
	margin: 0;
	padding: 0;
}

body {
	background: #F5F5F5;
	font-family: sans-serif;
    color: black;
	height: 100%;
	width: 100%;
}

h2 {
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

.paint {
  padding-top: 2px;
}

/* CANVAS STYLING
===================*/

canvas {
	background: #FFF;
	display: block;
	margin: 5px auto 5px;
	border-radius: 5px;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
	box-shadow: 0 4px 0 0 #E0E0E0;
	cursor: url(../img/cursor.png), crosshair;
}

/* CONTROLS (NEW COLORS)
=======================*/

.controls {
	min-height: 60px;
	margin: 0 auto;
	width: 600px;
	border-radius: 5px;
	overflow: hidden;
}
ul {
	list-style:none;
	margin: 0;
	float: 	left;
	padding: 10px 0 20px;
	width: 100%;
	text-align: center;
}

ul li, #newColor {
	display:block;
	height: 54px;
	width: 54px;
	border-radius: 60px;
	cursor: pointer;
	border: 0;
	box-shadow: 0 3px 0 0 #E0E0E0;
}

ul li {
	display: inline-block;
	margin: 0 5px 10px;
}

.red {
    background: #E74C3C;
}
.pink {
    background: #FFC0CB;
}
.orange {
    background: #F39C12;
}
.yellow {
    background: #F1C40F;
}
.lime {
    background: #CDDC39;
}
.green {
    background: #68B25B;
}
.mint {
    background: #3EB489;
}
.teal {
    background: #1ABC9C;
}
.cyan {
    background: #17A2B8;
}
.blue {
    background: #3498DB;
}
.indigo {
    background: #6610F2;
}
.purple {
    background: #8801e2;
}
.violet {
    background: #8E44AD;
}
.magenta {
    background: #FF00FF;
}
.brown {
    background: #8B4513;
}
.grey {
    background: #95A5A6;
}
.black {
    background: #34495E;
}
.white {
    background: #FFFFFF;
}

.selected {
	border: 7px solid #68B25B;
	width: 40px;
	height: 40px;
}

/* BUTTON STYLES
==============*/

button {
	background: #68B25B;
	box-shadow: 0 3px 0 0 #6A845F;
	color: #fff;
	outline: none;
	cursor: pointer;
	text-shadow: 0 1px #6A845F;
	display: block;
	font-size: 16px;
	line-height: 40px;
}
.utility {
	border: none;
	border-radius: 5px;
	margin: 10px auto;
	padding: 0 20px;
	width: 160px;
	height: 40px;
}

/* Responsive adjustments */

/* @media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .button, .color-selector {
        padding: 10px;
        font-size: 12px;
    }

    canvas {
        //Adjust canvas size for smaller screens 
        max-width: 100%;
        height: auto;
    }
} */
