<?xml version='1.0' encoding='utf-8'?>
<widget id="dev.alexjyong.babbypaint" version="0.0.5" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BabbyPaint</name>
    <description>Simple Paint app for kids</description>
    <author email="alexjyong@gmail.com" href="https://alexjyong.dev">
        Alex Yong
    </author>
    <content src="index.html" />

    <platform name="android">
        <!-- Remove INTERNET permission -->
        <custom-preference name="android-manifest/uses-permission[@android:name='android.permission.INTERNET']" delete="true" />
        
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/play_store_512.png" />
        <icon src="icon/android/res/mipmap-mdpi/icon.png" density="mdpi"/>
        <icon src="icon/android/res/mipmap-hdpi/icon.png" density="hdpi"/>
        <icon src="icon/android/res/mipmap-xhdpi/icon.png" density="xhdpi"/>
        <icon src="icon/android/res/mipmap-xxhdpi/icon.png" density="xxhdpi"/>
        <icon src="icon/android/res/mipmap-xxxhdpi/icon.png" density="xxxhdpi"/>
    </platform>
</widget>
